:root{
    --primary: #123A63;
    --secondary: #9AB1ED;
    --vhsize: 16vh;
    --padingbasefooter: 50px;
}


body{
    margin:0;
}


footer{
    background-color: var(--primary);
    display: flex;
    height: var(--vhsize);
    padding: var(--padingbasefooter);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer > a > img{
    height: 80px;
    width: 80px;
}
